# === Core LangChain packages ===
langchain
langserve
httpx
langchain-community==0.2.11
langchain-chroma==0.1.4
langchain-openai

# === Server / routing ===

fastapi==0.115.0
uvicorn==0.30.1

# === Utilities ===
python-dotenv==1.0.1
tiktoken==0.8.0
pydantic==2.9.2


# === Optional (for stability) ===
aiohttp==3.10.5

beautifulsoup4==4.12.3
bs4==0.0.2
sse_starlette==2.1.2
