beautifulsoup4==4.12.3

python-dotenv==1.0.1
pytest==8.2.2
langchain-openai==0.1.16
bs4==0.0.2
sse_starlette==2.1.2

langchain==0.2.14
langchain-core==0.2.35
langchain-community==0.2.11
langchain-chroma==0.1.4
langserve==0.3.1
httpx==0.28.1
pydantic==2.9.2
tiktoken
uvicorn
fastapi
